[Unit]
Description=Setup metering reporting

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-metering.sh
After=network-online.target
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
