global
  maxconn 500
  log stdout local0 info

defaults
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 60s

frontend http
  bind *:${ACM_HAPROXY_HTTP_PORT}
  default_backend alfresco

backend alfresco
  server repo ${ACM_HAPROXY_ACS_REPO_HOST}:${ACM_HAPROXY_ACS_REPO_PORT} maxconn 500
  http-response replace-value Location ^http://(.*):${ACM_HAPROXY_ACS_REPO_PORT}(.*)$ http://${ACM_HAPROXY_DOMAIN_NAME}:${ACM_HAPROXY_HTTP_PORT}\2
