user nginx;
daemon off;
worker_processes auto;
error_log /dev/stderr notice;
pid /var/run/nginx.pid;
worker_rlimit_nofile 8192;

events {
  worker_connections 4096;
}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;
  access_log /dev/stdout combined;
  sendfile on;
  tcp_nopush on;
  keepalive_timeout 65s;
  gzip on;

  server {
    listen *:8443 default_server ssl;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_certificate /etc/certs/cert.pem;
    ssl_certificate_key /etc/keys/key.pem;

    location / {
      proxy_pass http://${ACM_NGINX_UPSTREAM_HOST}:${ACM_NGINX_UPSTREAM_PORT};
      proxy_read_timeout 30s;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
    }
  }
}
